@import "tailwindcss";

@theme {
  --color-brand-50: #ecfdf5;
  --color-brand-100: #d1fae5;
  --color-brand-600: #059669;
  --color-brand-700: #047857;
}

body {
  @apply bg-slate-50 text-slate-800 antialiased;
}
